basePath: /
definitions:
  utils.ResponseWithRequestId:
    properties:
      code:
        type: integer
      data: {}
      message:
        type: string
      request_id:
        type: string
    type: object
host: aggregate-api.spacescope.io
info:
  contact:
    email: xueyou@starboardventures.io
    name: xueyouchen
  description: spacescope aggregate task
  termsOfService: http://swagger.io/terms/
  title: spacescope aggregate task
  version: "1.0"
paths:
  /api/v1/ping:
    get:
      consumes:
      - application/json
      - application/json
      description: Healthy examination
      produces:
      - application/json
      - application/json
      responses:
        "200":
          description: pong
          schema:
            type: string
        "500":
          description: error:...
          schema:
            type: string
      tags:
      - Sys
  /api/v1/walk:
    post:
      consumes:
      - application/json
      - application/json
      description: walk the historical DAG's tipsets.
      parameters:
      - in: query
        name: force
        type: boolean
      - in: query
        name: from
        type: integer
      - in: query
        name: to
        type: integer
      produces:
      - application/json
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/utils.ResponseWithRequestId'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utils.ResponseWithRequestId'
      tags:
      - Aggregate-Task-API-Internal-V1-CallByManual
swagger: "2.0"
